.footer {
    width: 100%;
    background-color: rgb(175, 175, 255);
}
.article {
    color: black
}
.date {
    color: rgb(8, 175, 44);
}
.header {
    height: 25px;
    background-color: rgb(227, 255, 128);
    font-size: 20px;
}
